<template>

<div>
  <svg :height="height" :width="width"/>
</div>
</template>

<script>
import * as d3 from 'd3'
export default {
  name:"PieChart",
  props:{
    textToAnalyze: String
  },
  data(){
    return{
    height: 200,
    width: 200
    }

  },
  mounted(){

  }
}
</script>

<style scoped>

</style>
