<template>
<div></div>

</template>

<script>
import * as d3 from 'd3'
export default {
  name:"WordCloud",
  props:{
    textToAnalyze: String
  },
  data(){

  },
  mounted(){

  }
}
</script>

<style scoped>

</style>
